<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>메인페이지</title>
</head>
<body>
  <h1>이벤트_회차 <br>좌석 insert & Redis 연동 테스트</h1>
  <button id="preloadBtn">Test</button>

  <script>
    const btn = document.getElementById('preloadBtn');
    btn.addEventListener('click', () => {
      fetch('/test/preloadSeats', { method: 'POST' })  // POST 방식으로 호출 (GET도 가능)
        .then(response => {
          if (response.ok) {
            alert('서버 로직 실행 완료!');
          } else {
            alert('서버 호출 실패: ' + response.status);
          }
        })
        .catch(err => alert('에러 발생: ' + err));
    });
  </script>
</body>
</html>
