/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pretendard";
  background-color: #f5f5f7;
  color: #333;

  display: flex;
  flex-direction: column;
  /* 세로 방향으로 쌓도록 변경 */
  min-height: 100vh;
}

/* Header */
.header-top {
  background: var(--Navy-100, #003274);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
}

.main-logo-img {
  width: 150px;
}

.auth-links {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.auth-links button {
  text-decoration: none;
  color: #003274;
  border: 2px solid #003274;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  height: 35px;
  cursor: pointer;
}

.auth-links button:hover {
  color: white;
  border: 1px solid white;
  background-color: #003274;
}

/* 하단 섹션 스타일 */
.header-bottom {
  background-color: #003274;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s;
  border-radius: 15px 15px 0px 0px;
  transform: translateY(10px);
  cursor: pointer;
}

.nav-item.active {
  background-color: white;
  color: #003274;
  border-radius: 15px 15px 0px 0px;
  transform: translateY(10px);
}

/* 검색창 스타일 */
.search-bar {
  position: relative;
  width: 300px;
  padding-right: 50px;
}

.search-bar input {
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 10px 40px 10px 15px;
  background-color: white;
  outline: none;
  font-size: 14px;
}

.search-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23888"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16a6.471 6.471 0 0 0 3.23-.88l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>') no-repeat center center;
  background-size: contain;
  cursor: pointer;
}
