<header th:fragment="main-header" class="main-header">
  <div class="header-top">
    <a th:href="@{/books}">
      <img th:src="@{/images/BookAt-Logo.png}" class="main-logo-img" />
    </a>
    <div class="auth-links">
      <button id="loginBtn" style="display: none">로그인</button>
      <button id="signupBtn" style="display: none">회원가입</button>
      <button id="logoutBtn" style="display: none">로그아웃</button>
      <button id="myPageBtn" style="display: none">마이페이지</button>
    </div>
  </div>
  <div class="header-bottom">
    <nav class="nav-links">
      <a th:href="@{/books}" class="nav-item">도서</a>
      <a th:href="@{/events}" class="nav-item">이벤트</a>
    </nav>
    <div class="search-bar">
      <form id="searchForm" th:action="@{/search}" method="get">
        <input type="text" name="search-query" placeholder="검색어를 입력하세요" />
        <span class="search-icon" onclick="document.getElementById('searchForm').submit();"></span>
      </form>
    </div>
  </div>
</header>