<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookat.mapper.CartMapper">

    <resultMap id="cartResponseMap" type="com.bookat.dto.CartResponse">
        <id property="cartId" column="CART_ID"/>
        <result property="cartQuantity" column="CART_QUANTITY"/>
        <result property="bookId" column="BOOK_ID"/>
        <result property="title" column="BOOK_TITLE"/>
        <result property="author" column="AUTHOR"/> <result property="price" column="BOOK_PRICE"/>
        <result property="coverImage" column="BOOK_COVER"/>
    </resultMap>

    <select id="getCartItemsForCurrentUser" resultMap="cartResponseMap" parameterType="string">
        SELECT
            C.CART_ID,
            C.CART_QUANTITY,
            B.BOOK_ID,
            B.BOOK_TITLE,
            B.AUTHOR,
            B.BOOK_PRICE,
            B.BOOK_COVER
        FROM
            CART C
        JOIN
            BOOK B ON C.BOOK_ID = B.BOOK_ID
        WHERE
            C.USER_ID = #{userId}
        ORDER BY
            C.CART_REGDATE DESC
    </select>
    
    <delete id="deleteCartItem" parameterType="string">
        DELETE FROM CART
        WHERE CART_ID = #{cartId}
    </delete>

    <update id="updateCartItemQuantity">
        UPDATE CART
        SET CART_QUANTITY = #{quantity}
        WHERE CART_ID = #{cartId}
    </update>

</mapper>