<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookat.mapper.EventMapper">

    <select id="selectEventList" resultType="com.bookat.dto.EventResDto">
        SELECT * FROM EVENT ORDER BY EVENT_ID ASC
    </select>

    <select id="selectEventOne" resultType="com.bookat.dto.EventResDto">
        SELECT * FROM EVENT WHERE EVENT_ID =#{event_id}
    </select>
    
    <select id="selectByLocalCode" resultType="com.bookat.dto.EventResDto">
        SELECT * FROM EVENT WHERE LOCAL_CODE=#{local_code} ORDER BY EVENT_ID ASC
    </select>

    <select id="selectByLocalCodeAndStartTime" resultType="com.bookat.dto.EventResDto">
       SELECT * FROM (SELECT * FROM EVENT WHERE LOCAL_CODE=#{local_code} AND EVENT_DATE > SYSDATE + 30 ORDER BY EVENT_DATE ASC) WHERE ROWNUM &lt;= 6
    </select>

    <select id="selectByLocalCodeAndCloseTime" resultType="com.bookat.dto.EventResDto">
        SELECT * FROM (SELECT * FROM EVENT WHERE LOCAL_CODE=#{local_code} AND EVENT_DATE > SYSDATE ORDER BY EVENT_DATE ASC) WHERE ROWNUM &lt;= 6
    </select>
    
    <select id="selectForMain" resultType="com.bookat.dto.EventResDto">
    	SELECT * FROM (SELECT * FROM EVENT) WHERE ROWNUM &lt; = 6
    </select>
    
    <select id="selectByStartTime" resultType="com.bookat.dto.EventResDto">
    	SELECT * FROM (SELECT * FROM EVENT WHERE EVENT_DATE > SYSDATE + 30 ORDER BY EVENT_DATE ASC) WHERE ROWNUM &lt;= 6
    </select>
    
    <select id="selectByCloseTime" resultType="com.bookat.dto.EventResDto">
        SELECT * FROM (SELECT * FROM EVENT WHERE EVENT_DATE > SYSDATE ORDER BY EVENT_DATE ASC) WHERE ROWNUM &lt;= 6
    </select>

	<select id="selectBookOne"  parameterType="string" resultType="Book">
		SELECT * FROM BOOK WHERE BOOK_ID = #{book_id}
	</select>

</mapper>