<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bookat.mapper.UserLoginMapper">
	
	<resultMap id="userLoginResultMap" type="com.bookat.entity.User">
        <id property="userId" column="USER_ID"/>
        <result property="userPw" column="USER_PW"/>
        <result property="userName" column="USER_NAME"/>
        <result property="email" column="EMAIL"/>
        <result property="phone" column="PHONE"/>
        <result property="birth" column="BIRTH"/>
        <result property="refreshToken" column="REFRESH_TOKEN"/>
    </resultMap>
	
	<select id="findUserById" resultMap="userLoginResultMap">
		SELECT * FROM USERS WHERE USER_ID = #{userId}
	</select>
	
	<update id="updateUserRefreshToken" parameterType="map">
		UPDATE USERS SET REFRESH_TOKEN = #{refreshToken, jdbcType=VARCHAR} WHERE USER_ID = #{userId}
	</update>
	
	<update id="updatePassword" parameterType="map">
		UPDATE USERS SET USER_PW = #{password, jdbcType=VARCHAR} WHERE USER_ID = #{userId}
	</update>
	
	<select id="findIdBySimpleAuth" resultMap="userLoginResultMap">
		SELECT * FROM USERS WHERE USER_NAME = #{userName} AND PHONE = #{phone} AND BIRTH = #{birth}
	</select>
	
</mapper>
