<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookat.mapper.UserSignupMapper">

    <select id="selectUserById" resultType="com.bookat.dto.UserSignup">
        SELECT * FROM USERS
        WHERE USER_ID = #{userId}
    </select>
    
    <select id="selectUserByEmail" resultType="com.bookat.dto.UserSignup">
        SELECT * FROM USERS
        WHERE USER_ID = #{email}
    </select>

</mapper>
