<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>비밀번호 찾기/변경</title>
<link rel="stylesheet" href="/css/logindefault.css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
<script th:src="@{/js/user/findPassword.js}"></script>
<script th:src="@{/js/user/verificationSimpleAuth.js}"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  const PORTONE_STORE_ID = /*[[${portoneStoreId}]]*/ "default-store-id";
  const PORTONE_CHANNEL_KEY =
    /*[[${portoneChannelKey}]]*/ "default-channel-key";
  /*]]>*/
</script>
<script>
	function doVerification() {
		verificationFindIdPw(
				PORTONE_STORE_ID, 
				PORTONE_CHANNEL_KEY,
				function success(userInfo) {
					document.getElementById("find-pw-section").style.display = "none";
					document.getElementById("change-pw-section").style.display = "block";
					document.getElementById("hidden-user-id").value = userInfo.userId;
				},
				function error(userInfo) {
					alert(userInfo.message || "인증 실패");
				});
	}
</script>
</head>
<body>
<div id="container">
	<h1>비밀번호 변경</h1>
	
	<div class="login-container">
	    <!-- 유저 찾기 -->
	    <div id="find-pw-section" class="section">
	        <form id="find-pw-form" class="input-form">
	            <div id="id-check-container">
	                <label for="userId">아이디</label>
	                <input type="text" id="userId" name="userId" placeholder="아이디를 입력해주세요">
					<p id="find-id-error" class="error" style="display:none;"></p>
					<button id="find-id-check" type="submit">아이디 확인</button>
	            </div>
				<div id="verify-btn" class="verify-btn" style="display: none;">
					<p>아이디가 확인되었습니다. 간편인증을 진행해주세요.</p>
					<button type="button" onclick="doVerification()">간편인증</button>
				</div>
				<p id="find-error" class="error" style="display:none;"></p>
	        </form>
			<div class="links">
				<a href="/user/login">로그인 페이지로</a>
				<span>|</span>
				<a href="/user/findId">아이디 찾기</a>
			</div>
	    </div>
	
	    <!-- 비밀번호 변경 -->
	    <div id="change-pw-section" class="section">
	        <form id="change-pw-form" class="input-form">
	            <input type="hidden" id="hidden-user-id" name="userId" />
	            <div>
	                <label for="userPw">변경할 비밀번호</label>
	                <input type="password" id="userPw" name="password" placeholder="변경할 비밀번호를 입력해주세요.">
	            </div>
	            <div>
	                <input type="password" id="userPwCheck" name="passwordCheck" placeholder="비밀번호를 한번 더 입력해주세요.">
	            </div>
	            <p id="find-pw-check" class="error" style="display:none;"></p>
	            <button type="submit">비밀번호 변경</button>
	        </form>
			<div class="links">
				<a href="/user/login">로그인 페이지로</a>
				<span>|</span>
				<a href="/user/findId">아이디 찾기</a>
			</div>
	    </div>
	
	    <!-- 비밀번호 변경 결과 -->
	    <div id="result-section" class="section">
	        <h1>비밀번호 변경</h1>
			<div class="info-change-result">
				<p>비밀번호가 변경되었습니다.</p>
			</div>
	        <div class="change-result">
	            <button id="go-login" class="result-btn">로그인</button>
	            <button id="go-main" class="result-btn">메인으로</button>
	        </div>
	    </div>
	</div>
</div>
</body>
</html>
