<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>아이디 찾기</title>
<link rel="stylesheet" th:href="@{/css/logindefault.css}">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript">
	
</script>
</head>
<body>

	<div id="container">
		<h1>아이디 찾기</h1>

		<form id="inputForm" class="inputForm">
			<div class="input-group">
				<input type="text" id="userPhone" name="userPhone" placeholder="전화번호를 입력해주세요.">
				<button onclick="verification('phone')">인증문자 전송</button>
			</div>
		    <div>
		        <input type="text" id="userAuth" name="userAuth" placeholder="인증번호를 입력해주세요.">
		    </div>
			<div class="links">
				<p>인증번호가 오지 않나요? <a href="#">자세히 보기</a></p>
			</div>
		    <button type="submit">아이디 찾기</button>
		</form>
		
		<div class="links">
			<a href="/api/user/login">로그인 페이지로 가기</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="/api/user/findPw">비밀번호 찾기</a>
		</div>

		<div id="error-msg" style="color:#bd2130; display:none;"></div>
	</div>

</body>
</html>
