<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인</title>
<link rel="stylesheet" th:href="@{/css/logindefault.css}">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        const accessToken = "accessToken";

        $("#inputForm").submit(function(e) {
            e.preventDefault();

			const userId = $("#userId").val().trim();
		    const userPw = $("#userPw").val().trim();

		    // 기존 에러 초기화
		    $("#userId-error, #userPw-error").hide().text("");
		    $("#userId, #userPw").removeClass("input-error");

            $.ajax({
                url: "/api/user/login",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ userId, userPw }),
                success: function(data) {
                    // accessToken localStorage 저장
                    localStorage.setItem(accessToken, data.accessToken);
                    window.location.href = "/";
                },
                error: function(xhr) {
					const errMsg = xhr.responseText; // 그냥 문자열 받음
					
					console.log(errMsg);

				    // 아이디 관련 에러
				    if (errMsg.includes("아이디")) {
				        $("#userId-error").text(errMsg).show();
				        $("#userId").focus().addClass("input-error");
				    }
				    // 비밀번호 관련 에러
				    else if (errMsg.includes("비밀번호")) {
				        $("#userPw-error").text(errMsg).show();
				        $("#userPw").focus().addClass("input-error");
				    }
				    // 그 외 (공통 에러)
				    else {
				        alert(errMsg);
				    }
                }
            });
        });
    });
</script>
</head>
<body>
	<div id="container">
		<h1>로그인</h1>

		<form id="inputForm" th:object="${userLogin}" class="inputForm">
		    <div>
		        <label for="userId">아이디</label>
		        <input type="text" id="userId" name="userId" class="form-control" 
					placeholder="아이디를 입력해주세요.">
				<p id="userId-error" style="color:#bd2130; display:none;"></p>
		    </div>
		    <div>
		        <label for="userPw">비밀번호</label>
		        <input type="password" id="userPw" name="userPw" 
					placeholder="비밀번호를 입력해주세요.">
				<p id="userPw-error" style="color:#bd2130; display:none;"></p>
		    </div>
		    <button type="submit">로그인</button>
		</form>
		
		<div class="links">
			<a href="/api/user/findId">아이디 찾기</a>&nbsp;&nbsp;|&nbsp;&nbsp; 
			<a href="/api/user/findPw">비밀번호 찾기</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="/api/user/signUp">회원가입</a>
		</div>
	</div>
</body>
</html>
