<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/ReservationPopup_Seat.css}" />
	<link rel="stylesheet" th:href="@{/css/captcha.css}" />
	<script th:src="@{/js/captcha.js}"></script>
</head>

<body>
	<div class="popup-container">
		<header>
			<img th:src="@{/images/BookAt-Logo.png}" alt="BookAt Logo" class="logo">
		</header>

		<div class="body-wrapper">

			<div class="left-column">
				<nav class="progress-steps">
					<ol>
						<li class="active">날짜/회차 선택</li>
						<li>등급/좌석 선택</li>
						<li>정보 입력</li>
						<li>결제</li>
					</ol>
				</nav>

				<main class="content-wrapper">
					<section class="selection-area">
						<div class="calendar-container">달력 & 회차 선택<br>컨텐츠 추가 영역</div>
					</section>
				</main>
			</div>

			<aside class="summary-content">
				<div class="event-poster">
					<img class="posterImg">
					<h2>{이벤트명}</h2>
					<p>2025년 9월 17일</p>
					<p>10:00 1회차</p>
				</div>
				<button class="next-button">다음 단계</button>
			</aside>

		</div>
	</div>

	<!-- 캡챠 인증 모달 -->
	<div id="captchaModal" class="modal-overlay">
		<div class="captcha-form">
			<label class="captcha-label">매크로 방지</label>
			<div class="captcha-body">
				<img id="captchaImg" title="캡챠이미지" alt="캡챠이미지" th:src="@{/api/captcha/image}">
				<button type="button" class="captcha-btn" onclick="refreshImage();">새로고침</button>
				<button type="button" class="captcha-btn" onclick="playAudio();">음성듣기</button>
				<div id="ccaudio" style="display: none;"></div>
			</div>
			<p class="captcha-message">인증번호를 올바르게 입력해주세요.</p>
			<div class="captcha-input-group">
				<input id="captcha-answer" type="text" placeholder="보이는 문자를 입력하세요">
				<button id="captcha-submit" type="button" onclick="verifyCaptcha()">확인</button>
			</div>
		</div>
	</div>
</body>

</html>