<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>예약 팝업</title>
	<link rel="stylesheet" th:href="@{/css/ReservationPopup.css}" />
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script th:src="@{/js/utils/axiosIntercepter.js}"></script>
	<script th:src="@{/js/utils/logout.js}"></script>
	<script th:src="@{/js/utils/userAuth.js}"></script>
	<script>
		document.addEventListener("DOMContentLoaded", () => {
			const steps = document.querySelectorAll(".progress-steps li");
			const sections = document.querySelectorAll(".selection-area");
			const nextBtn = document.querySelector("#next-btn");
			const submitBtn = document.querySelector("#submit-btn");
			
			// 티켓 타입 유형
			const ticketType = document.getElementById("ticket-type").value;
			
			// 등급선택
			const selects = document.querySelectorAll(".person-select-table select");
			const sumPriceEl = document.getElementById("sumPrice");
			const feeEl = document.getElementById("fee");
			
			// 주문자 정보 입력
			const userNameInput = document.getElementById("user-name");
			const phoneInput = document.getElementById("phone");
			const emailInput = document.getElementById("email");
			
			let currentStep = 1;
			let totalPrice = 0;
			
			// 다음단계 버튼 클릭 이벤트
			nextBtn.addEventListener("click", () => {
				
				// step 2 단계 - 등급 선택 (공란 검증)
				if(currentStep === 2 && ticketType === "PERSON_TYPE" && totalPrice <= 0) {
					alert("예약인원을 선택해주세요!");
					return;
				}
				
				// step 3 단계 - 주문자 정보 입력 (공란 검증)
				if(currentStep === 3) {
					if (!userNameInput.value.trim()) {
						alert("이름을 입력해주세요.");
						userNameInput.focus();
						return;
					}

					if (!phoneInput.value.trim()) {
						alert("전화번호를 입력해주세요.");
						phoneInput.focus();
						return;
					}

					if (!emailInput.value.trim()) {
						alert("이메일을 입력해주세요.");
						emailInput.focus();
						return;
					}
					
					if (!emailInput.value.includes("@")) {
					    alert("이메일에 @를 포함시켜주세요.");
					    emailInput.focus();
					    return;
					}
				}
				
				if(currentStep < steps.length) {
					currentStep++;
					
					steps.forEach(s => s.classList.remove("active"));
					const targetStep = steps[currentStep -1];
					targetStep.classList.add("active");
					
					sections.forEach(sec => {
						sec.style.display = sec.getAttribute("data-step") == currentStep ? "block" : "none";
					});
					
					if(currentStep === steps.length) {
						nextBtn.style.display = "none";
						submitBtn.style.display = "block";
					}
				}
			});
			
			// 결제 총합 구하기
			const selectedList = document.querySelector("#sumPrice").closest("tr").querySelector("td:last-child");
			
			function updateSummary() {
				let sum = 0;
				let selected = [];
				let personSummary = [];
				
				selects.forEach((sel) => {
					const unitPrice = parseInt(sel.getAttribute("data-unit-price"), 10);
					const count = parseInt(sel.value, 10);
					if(count > 0) {
						sum += unitPrice * count;
						
						let label = "";
						
						if(sel.name === "adultCount") label = "성인";
						else if (sel.name === "youthCount") label = "청소년";
						else if (sel.name === "childCount") label = "유아";
						
						selected.push(`${label} ${count}명`);
						personSummary.push(`<p>${label} ${count}명</p>`);
					}
				});
				
				const fee = Math.floor(sum * 0.1);
				totalPrice = sum + fee;
				
				sumPriceEl.textContent = sum.toLocaleString() + "원";
				feeEl.textContent = fee.toLocaleString() + " 원";
				
				selectedList.innerHTML = selected.length
				? selected.map((s) => `<p>${s}</p>`).join("") : "-";
				
				document.getElementById("summaryTotal").textContent = totalPrice.toLocaleString() + "원";
				document.getElementById("total-price").value = totalPrice;
				
				const personInfoEl = document.querySelector(".person-info");
				personInfoEl.innerHTML = personSummary.length ? personSummary.join("") : "<p>선택된 인원이 없습니다.</p>";
			}
			
			selects.forEach((sel) => sel.addEventListener("change", updateSummary));
			
			// 주문자 정보 입력에서 전화번호 형식 검증
			phoneInput.addEventListener("input", () => {
				const cleaned = phoneInput.value.replace(/[^0-9]/g, "");
				if(phoneInput.value !== cleaned) {
					phoneInput.value = cleaned;
					phoneInput.focus();
					alert("전화번호는 숫자만 입력해주세요.");
					return;
				}
			});
			
			submitBtn.addEventListener("click", (e) => {
				e.preventDefault();
				
				// 최종 제출
				
				alert("결제를 진행하겠습니다.");
			});
			
		});
	</script>
</head>

<body>
	<div class="popup-container">
		<header>
			<img th:src="@{/images/BookAt-Logo.png}" alt="BookAt Logo" class="logo">
		</header>

		<div class="body-wrapper">

			<div class="left-column">
				<nav class="progress-steps">
					<ol>
						<li class="active" data-step="1">날짜/회차 선택</li>
						<li data-step="2" th:text="${event.ticketType == 'SEAT_TYPE'} ? '좌석 선택' : '등급 선택'"></li>
						<li data-step="3">정보 입력</li>
						<li data-step="4">결제</li>
					</ol>
				</nav>

				<main class="content-wrapper">
					<form action="/reservation" method="post" id="reservation-form">
						<section class="selection-area step" data-step="1">
							<div class="calendar-container">달력 & 회차 선택<br>컨텐츠 추가 영역</div>
						</section>
						<input type="hidden" id="ticket-type" th:value="${event.ticketType}">
						<section class="selection-area step" data-step="2" style="display: none;">
							<div class="calendar-container">
								<div th:if="${event.ticketType == 'PERSON_TYPE'}">
									<h3>인원 선택</h3>
									<table class="person-select-table">
										<thead>
											<tr>
												<th>구분</th>
												<th>가격</th>
												<th>인원수</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>성인</td>
												<td th:text="${#numbers.formatInteger(event.eventPrice, 3, 'COMMA')} + ' 원'"></td>
												<td>
													<select name="adultCount" id="adultCount"
													        th:attr="data-unit-price=${event.eventPrice}">
													  <option value="0">선택</option>
													  <option th:each="i : ${#numbers.sequence(1,10)}"
													          th:value="${i}"
													          th:text="${i} + '명'">
													  </option>
													</select>
												</td>
											</tr>
											<tr>
												<td>청소년</td>
												<td th:text="${#numbers.formatInteger(event.eventPrice * 8 / 10, 3, 'COMMA')} + ' 원'"></td>
												<td>
													<select name="youthCount" id="youthCount"
													        th:attr="data-unit-price=${event.eventPrice * 8 / 10}">
													  <option value="0">선택</option>
													  <option th:each="i : ${#numbers.sequence(1,10)}"
													          th:value="${i}"
													          th:text="${i} + '명'">
													  </option>
													</select>
												</td>
											</tr>
											<tr>
												<td>유아</td>
												<td th:text="${#numbers.formatInteger(event.eventPrice / 2, 3, 'COMMA')} + ' 원'"></td>
												<td>
													<select name="childCount" id="childCount"
													        th:attr="data-unit-price=${event.eventPrice / 2}">
													  <option value="0">선택</option>
													  <option th:each="i : ${#numbers.sequence(1,10)}"
													          th:value="${i}"
													          th:text="${i} + '명'">
													  </option>
													</select>
												</td>
											</tr>
										</tbody>
									</table>
									
									<table class="person-select-table">
										<tbody>
											<tr>
												<th>합계</th>
												<td id="sumPrice"></td>
												<td>
													<p></p>
													<p></p>
												</td>
											</tr>
											<tr>
												<th>수수료 (10%)</th>
												<td id="fee"></td>
											</tr>
										</tbody>
									</table>
									<!-- 최종 결제 금액 -->
									<input type="hidden" id="total-price" name="total-price" value="0">
								</div>
								<div th:if="${event.ticketType == 'SEAT_TYPE'}">
									<!-- 좌석 선택 섹션 미작성! -->
								</div>
							</div>
						</section>
						<section class="selection-area step" data-step="3" style="display: none;">
							<div class="calendar-container pay-info-container">
								<h2>주문자 정보 입력</h2>
								<div class="pay-info-form">
									<div>
									    <label for="user-name">이름</label>
									    <input type="text" id="user-name" name="user-name" placeholder="김북캣">
									</div>
									<div>
									    <label for="phone">전화번호</label>
									    <input type="text" id="phone" name="phone" placeholder="010XXXXXXXX">
									</div>
									<div>
									    <label for="email">이메일</label>
									    <input type="text" id="email" name="email" placeholder="bookat@gmail.com">
									</div>
								</div>
							</div>
						</section>
						<section class="selection-area step" data-step="4" style="display: none;">
							<div class="calendar-container">결제<br>컨텐츠 추가 영역</div>
						</section>
					</form>
				</main>
			</div>

			<aside class="summary-content">
				<div class="event-poster">
					<img class="posterImg" th:src="@{${event.eventImage}}" alt="포스터">
					<h2>[[${event.eventName}]]</h2>
					<p>2025년 9월 17일</p>
					<p>10:00 1회차</p>
				</div>
				<div class="person-info">
					
				</div>
				<div class="pay-info">
					<p><strong>총 결제금액:</strong> <span id="summaryTotal"></span></p>
				</div>
				<button id="next-btn" class="next-button">다음 단계</button>
				<button id="submit-btn" type="submit" class="next-button" form="reservation-form" style="display: none;">결제</button>
			</aside>

		</div>
	</div>
</body>

</html>
