<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bookat.mapper.TicketMapper">
	
	<insert id="insertTicket" parameterType="Ticket">
		<selectKey keyProperty="ticketId" resultType="long" order="BEFORE">
			SELECT SEQ_TICKET.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO TICKET (
			TICKET_ID,
			TICKET_CREATED_DATE,
			TICKET_STATUS,
			TICKET_TYPE,
			PERSON_TYPE,
			RESERVATION_ID,
			SEAT_ID,
			PAYMENT_ID
		) VALUES (
			#{ticketId},
			SYSDATE,
			#{ticketStatus},
			#{ticketType},
			#{personType, jdbcType=NUMERIC},
			#{reservationId},
			#{seatId, jdbcType=NUMERIC},
			#{paymentId}
		)
	</insert>
	
	<select id="findTicketsByReservationId" resultType="java.util.Map">
    	SELECT 
        	T.TICKET_ID AS "티켓번호",
        	T.TICKET_STATUS AS "티켓상태",
        	T.RESERVATION_ID AS "예매번호",
        	S.SEAT_ID AS "좌석번호",
        	S.SEAT_NAME AS "좌석명",
        	S.EVENT_ID AS "이벤트번호",
       	 	S.SCHEDULE_ID AS "회차번호"
    	FROM TICKET T 
    	JOIN SEAT_TYPE S ON T.SEAT_ID = S.SEAT_ID 
    	WHERE T.RESERVATION_ID = #{reservationId}
	</select>
	
</mapper>
