<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마이페이지</title>
<link rel="stylesheet" th:href="@{/css/header.css}" />
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/reservationDetails.css}">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:src="@{/js/utils/axiosIntercepter.js}"></script>
<script th:src="@{/js/utils/logout.js}"></script>
<script th:src="@{/js/utils/userAuth.js}"></script>
<script th:src="@{/js/utils/header.js}"></script>
<script th:src="@{/js/myPage.js}"></script>
<style>
	.container {
		display: flex;
		max-width: 1200px;
		margin: 0 auto;
		gap: 2rem;
	}
	
	.aside-nav {
		flex: 3;
		height: 100vh;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		border: 1px solid #ccc;
	}
	
	.aside-nav button {
		width: 6.25rem;
		height: 3rem;
		cursor: pointer;
		border: 1px solid #ccc;
	}
	
	.right-section {
		flex: 7;
		padding: 1.5rem;
	}
	
</style>
</head>
<body>

	<div th:replace="~{fragments/header :: main-header}"></div>
	<h1>BookAt MyPage Home</h1>
	
	<div class="container">

		<div class="aside-nav">
			<button onclick="goReservationDetails()">예매 내역 조회</button>
		</div>
		
		<div class="right-section">
			<!-- 예매 내역 조회 활성화 -->
			<div id="reservation-container" class="reservation-hidden">
			    <div class="reservation-title">
			        <h2>예매 내역 조회</h2>
			        <select>
			            <option>최신순</option>
			            <option>오래된순</option>
			        </select>
			    </div>
		
			    <main>
			        <div class="reservation-box">
			            <div class="event-post">이미지</div>
			            <div class="reservation-info">
			                <h3>이벤트 기본 정보</h3>
			                <p>예약 일자 | 2025.08.13 오후 7시 (2회차)</p>
			                <p>예약 좌석 | A-12, A-13</p>
			                <p>인원 수 | 5</p>
			                <div class="reservation-actions">
			                    <button class="btn-change">예매 변경</button>
			                    <button class="btn-ticket">티켓 보기</button>
			                </div>
			            </div>
			        </div>
			    </main>
			</div>
		</div>
	</div>
	
	<div th:replace="~{fragments/footer :: main-footer}"></div>

</body>
</html>
